<div>
    <h3>Фильтры</h3>
    <form novalidate ng-submit="filter()">
        <div class="form-group col-md-6">
            <label for="filterTitle">Название содержит</label>
            <input class="form-control" type="text" ng-model="newFilter.title" id="filterTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="filterMinCost">Минимальная цена</label>
            <input class="form-control" type="number" ng-model="newFilter.min_cost" id="filterMinCost">
        </div>
        <div class="form-group col-md-6">
            <label for="filterMaxCost">Максимальная цена</label>
            <input class="form-control" type="number" ng-model="newFilter.max_cost" id="filterMaxCost">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Фильтровать</button>
            <button class="btn btn-secondary" ng-click="clearFilter()">Очистить</button>
            <span> Всего товаров по фильтру {{Products.totalElements}} </span>
        </div>
    </form>
    <hr/>
    <h3>Товары</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="p in Products.content">
            <td>{{p.title}}</td>
            <td>{{p.cost}}</td>
        </tr>
        </tbody>
    </table>

    <h3>Добавить новый товар</h3>
    <form novalidate ng-submit="submitCreateNewProduct()">
        <div class="form-group col-md-6">
            <label for="elementTitle">Название</label>
            <input class="form-control" type="text" ng-model="newProduct.title" id="elementTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="elementCost">Цена</label>
            <input class="form-control" type="number" ng-model="newProduct.cost" id="elementCost">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </div>
    </form>
    <hr/>
    <nav aria-label="Page navigation">
        <ul class="pagination pg-blue">
            <li class="page-item active" ng-class="{'disabled': Products.first}">
                <a class="page-link" ng-click="filter(Products.number)">Предыдущая</a>
            </li>
            <li class="page-item" ng-class="{'active': (Products.number+1) == n}"
                ng-repeat="n in range(1, Products.totalPages)">
                <a class="page-link" ng-click="filter(n)">{{n}}</a>
            </li>
            <li class="page-item active" ng-class="{'disabled': Products.last}">
                <a class="page-link" ng-click="filter(Products.number+2)">Следующая</a>
            </li>
        </ul>
    </nav>
</div>