<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        button, a.btn {
            box-shadow: 4px 4px 4px #999999;
        }
    </style>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"/>

    <h1>Корзина</h1>
    <br/>
    <span th:if="${@cart.items.isEmpty()}">Корзина пуста</span>
    <table th:if="${!@cart.items.isEmpty()}" class="table table-hover">
        <thead class="thead-light">
        <tr align="center">
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="io:${@cart.items}">
            <td th:text="${io.product.title}"/>
            <td th:text="${io.cost}"/>
            <td>
                <a th:href="@{'/cart/dec/' + ${io.product.id}}"><b> [-] </b></a>
                <span th:text="${io.quantity}"></span>
                <a th:href="@{'/cart/inc/' + ${io.product.id}}"><b> [+] </b></a>

            <td th:text="${io.totalCost}"/>
            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{'/cart/remove/' + ${io.product.id}}">&times;</a>
            </td>
        </tr>
        <tr align="center">
            <td></td>
            <td>Итого</td>
            <td th:text="${@cart.totalQuantity}"></td>
            <td th:text="${@cart.price}"></td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <a th:if="${!@cart.items.isEmpty()}" th:href="@{'/orders/order'}" class="btn btn-success" role="button">Оформить
        заказ</a>
    <a th:href="@{'/products'}" class="btn btn-primary" role="button">Вернуться к покупкам</a>
    <a th:if="${!@cart.items.isEmpty()}" th:href="@{'/cart/clear'}" class="btn btn-danger" role="button">Очистить
        корзину</a>

</div>
</body>
</html>