<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        button, a {
            box-shadow: 4px 4px 4px #999999;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Ваш заказ</h1>
    <br/>
    <span th:if="${@cart.items.isEmpty()}">Заказ пуст</span>
    <table th:if="${!@cart.items.isEmpty()}" class="table table-hover">
        <thead class="thead-light">
        <tr align="center">
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="io:${@cart.items}">
            <td th:text="${io.product.title}"/>
            <td th:text="${io.cost}"/>
            <td th:text="${io.quantity}"/>
            <td th:text="${io.totalCost}"/>

        </tr>
        <tr align="center">
            <td></td>
            <td>Итого</td>
            <td th:text="${@cart.totalQuantity}"></td>
            <td th:text="${@cart.price}"></td>
        </tr>
        </tbody>

    </table>

    <h4>Введите данные для оформления заказа</h4>
    <form method="POST" th:action="@{/orders/add}">

        <div class="row">
            <div class="col">
                <input type="text" required name="firstname" class="form-control" placeholder="Имя">
            </div>
            <div class="col">
                <input type="text" required name="surname" class="form-control" placeholder="Фамилия">
            </div>
            <div class="col">
                <input type="text" required name="phone" class="form-control" placeholder="Телефон">
            </div>
        </div>
        <br/>
        <div class="form-group">
            <input type="text" required name="address" class="form-control" placeholder="Адрес">
        </div>
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#alertOrder">Оформить</button>
        <a th:href="@{'/cart'}" class="btn btn-danger" role="button">Отмена</a>

        <!-- Modal -->
        <div class="modal fade" id="alertOrder" tabindex="-1" role="dialog" aria-labelledby="alertOrderLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertOrderLabel">Отправка заказа</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>Внимание!</b> После подтверждения Ваш заказ будет сформирован, корзина очистится и
                        Вы будуте перенаправлены на страницу с историей заказов. Новый заказ будет первым в списке.
                        <h6>Спасибо, что Вы с нами!</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Вернуться</button>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>