<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Пользовтаели</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        button, a.btn {
            font-size: 1.1em;
            box-shadow: 4px 4px 4px #999999;
        }
    </style>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Users)}"/>
    <h1>Пользователи</h1>
    <br/>
    <span th:if="${users.isEmpty()}">Заказов нет</span>
    <table th:if="${!users.isEmpty()}" class="table table-hover">
        <thead class="thead-light">
        <tr align="center">
            <th>ID</th>
            <th>Имя</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="u:${users}">
            <td th:text="${u.id}"/>
            <td th:text="${u.username}"/>
            <td th:text="${u.email}"/>
        </tr>
        </tbody>
    </table>
    <hr/>
    <a th:href="@{'/products'}" class="btn btn-success" role="button">Перейти в каталог</a>
</div>
</body>
</html>